.content{
    display: flex;
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 64px;
    height: 100%;
}
.logo{
    height:25%;
}
.headerLogo{
    margin-top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px !important;
    line-height: 35px;
    color: #0EC261;
}
.headers{
    height: 65%;
}

.header1{
    width: 367px;
    height: 66px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 66px;
    color: #121212;
}
.headerMarginBtm{
    margin-bottom: 0;
}

.header2{
    height: 66px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 66px;
    color: #0EC261;
}

.headerMargin{
    margin-top: 4px;
    margin-bottom: 34px;
}

.paragraph{
    height: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: #999999;
}

.reserv{
   margin-top: 60px;
   width: 250px;
   height: 48px;
   background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
   background-blend-mode: darken;
   border-radius: 8px;
   border: 0;
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #FFFFFF; 
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px; 
}

.footerDate{  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #999999;
}

.footerTel{
    left: 585px;
    top: 763px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #121212;
}